body {
  background: #dde1e7;
  font-family: monospace;
}

h1 {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

img {
  border-radius: 5px;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.name {
  font-weight: 700;
}
